<p-card>
  <p-table
    #dt
    [value]="items"
    [columns]="cols"
    [lazy]="true"
    (onLazyLoad)="loadItems($event)"
    [paginator]="true"
    [rows]="rows"
    [totalRecords]="totalRecords"
    [loading]="loading"
    [rowsPerPageOptions]="[5, 10, 20]"
    dataKey="id"
    responsiveLayout="scroll"
    styleClass="p-datatable-gridlines"
  >
    <ng-template #caption>
      <div class="flex items-center justify-between">
        <span class="text-xl font-bold">Items List</span>
        <div class="flex items-center gap-2">
          <p-iconfield>
            <p-inputicon styleClass="pi pi-search" />
            <input pInputText type="text" (input)="onSearch($event)" placeholder="Search..." [(ngModel)]="searchTerm" />
          </p-iconfield>
          <p-button icon="pi pi-times" label="Clear" (click)="clearSearch()" severity="danger" />
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{ col.header }}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          <ng-container *ngIf="loading; else dataCell">
            <p-skeleton height="1.5rem"></p-skeleton>
          </ng-container>
          <ng-template #dataCell>
            <ng-container *ngIf="{ showTooltip: shouldShowTooltip(rowData[col.field]) } as tooltipState">
              <span
                [class.truncate-text]="tooltipState.showTooltip"
                [pTooltip]="tooltipState.showTooltip ? rowData[col.field] : null"
                tooltipPosition="top"
              >
                {{ truncateText(rowData[col.field]) }}
              </span>
            </ng-container>
          </ng-template>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="cols ? cols.length : 1">No items found.</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
