/* Style for truncating text and adding ellipsis */
.truncate-text {
  display: inline-block;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

/* Adjust pagination alignment if needed */
:host ::ng-deep .p-paginator {
  justify-content: flex-end;
}
